@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.bg-gradient {
  background: radial-gradient(121.73% 121.49% at 100% -3.39%, #1F4247 0%, #0D1D23 56.18%, #09141A 100%)
    /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */
  ;
}

.bg-btn {
  background: linear-gradient(108.32deg, #62CDCB 24.88%, #4599DB 78.49%);
  height: 48px;
  box-shadow: inset 0px 33px 25px 0 linear-gradient(108.32deg, #62cdcb80 24.88%, #4599db80 78.49%);
}

input, select {
  min-height: 51px;
  background: #FFFFFF0F;
  margin-bottom: 15px;
  border: none !important;
}

.text-golden {
  background: -webkit-linear-gradient(74.08deg, #94783E -6.8%, #F3EDA6 16.76%, #F8FAE5 30.5%, #FFE2BE 49.6%, #D5BE88 78.56%, #F8FAE5 89.01%, #D5BE88 100.43%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.text-blue-gradient {
  background: -webkit-linear-gradient(134.86deg, #ABFFFD 2.64%, #4599DB 102.4%, #AADAFF 102.4%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-golden2 {
  background: -webkit-linear-gradient(74.08deg, #94783E -6.8%, #F3EDA6 16.76%, #F8FAE5 30.5%, #FFE2BE 49.6%, #D5BE88 78.56%, #F8FAE5 89.01%, #D5BE88 100.43%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border-bottom: 1px solid transparent;
  border-image: linear-gradient(74.08deg, #94783E -6.8%, #F3EDA6 16.76%, #F8FAE5 30.5%, #FFE2BE 49.6%, #D5BE88 78.56%, #F8FAE5 89.01%, #D5BE88 100.43%);
  border-image-slice: 1;
}

.bg-tag{
  background: #FFFFFF1A;
}
.bg-app {
  background: #09141A;
}

.card {
  background: #162329;
}

.card-secondary {
  background: #0E191F;
}

.bg-profile {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.76) 0%, rgba(0, 0, 0, 0) 45.83%, #000000 100%);
  background-size: cover;
}

.interest-container{
  background: #D9D9D90F;
  min-height: 48px;
}